.button{
    border: none;
    border-radius: 30px;
    background-color: #c53c56;
    color: #fefefe;
    transition: all 200ms ease;
}
.button:hover{
    background-color: #9f3044;
    transform: scale(1.05);
}

.button--big{
    padding: 10px 20px;
    font-weight: 600;
}
.button--primary{
    padding: 10px;
    font-weight: 500;
}
.button--round{
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}